<Head>
	<link href="https://vjs.zencdn.net/7.4.1/video-js.min.css" rel="stylesheet">
	<script src="https://vjs.zencdn.net/7.4.1/video.min.js"></script>
	<script src="https://cdn.streamroot.io/videojs-hlsjs-plugin/1/stable/videojs-hlsjs-plugin.js"></script>
	<script src="https://cdn.streamroot.io/videojs-hls-dna-plugin/1/stable/videojs-hls-dna-plugin.js#streamrootKey=1c04d9d9-96d7-4bce-be8b-ab38b319047c"></script>
	<script src="https://tools.streamroot.io/usage-graphs/stable/graphs.js"></script>
</Head>

<body>
  <video id="demoplayer" class="video-js" controls>
    <source src="http://wowza-test-cloudfront.streamroot.io/vodOrigin/tos1500.mp4/playlist.m3u8" type="application/dash+xml">
	</video>
	<div id="streamroot-graphs"></div>
	<button onclick="Streamroot.instances[0].dnaUploadEnabled = !Streamroot.instances[0].dnaUploadEnabled;">Toggle P2P Uploading</button>
  <script>
    var options = {
      html5: {
        hlsjsConfig: {},
      },
      dnaConfig: {
	    	"contentIdGenerator" : (contentIdFn) => "dev-testerId-1"
      },
    };
    var player = videojs("demoplayer", options);
  </script>
</body>